<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <script src="js/vue.js"></script>
    <style>
        .active {
            background-color: #dddddd;
        }

        .message-close-btn {
            float: right;
            padding-right: 10px;
            cursor: pointer;
        }

        div[type=success] {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-indent: 10px;
            color: #333;
            background-color: rgba(0, 255, 153, .4);
            border: 1px solid rgba(0, 255, 153, .8);
            border-radius: 4px;
        }

        div[type=error] {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-indent: 10px;
            color: #333;
            background-color: rgba(220, 20, 60, .4);
            border: 1px solid rgba(220, 20, 60, .8);
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <!-- 宿主文件 -->
    <div id="app">
        <!-- 使用:is-show.sync父组件可不用处理事件 -->
        <message :is-show.sync="show" type="success">
            <!-- 作用域插槽 -->
            <template v-slot:title="slotProps"><strong>{{slotProps.title}}</strong></template>

            <!-- 具名插槽 -->
            <!-- <template v-slot:title><strong>恭喜</strong></template> -->
            <!-- 默认插槽 -->
            <template>新增课程成功</template>
        </message>
        <heading level=1 :title="title">{{title}}</heading>
        <h2>
            <!-- 插值文本 -->
            {{title}}
        </h2>
        <hr>
        <course-add v-model="coursename" @add-course="addCourse" :course-title="a"></course-add>
        <hr>
        <course-list :courses="course"></course-list>
    </div>
</body>
<script>
    const getCourses = () => {
        return new Promise((resolve, reject) => {
            setTimeout(function () {
                // 异步请求你接口一秒返回数据
                resolve(['aaa', 'bbb', 'ccc'])
            }, 1000)
        })
    }

    // 局部混入
    const helloMixin = {
        data() {
            return {
                prop1: 'prop1',
                prop2: {
                    name: 'prop2'
                }
            }
        },
        created() {
            this.hello();
        },
        methods: {
            hello() {
                console.log('mixin hello...');
            }
        }
    }
    Vue.component('heading', {
        data() {
            // mixin的选项合并：调用者的选项优先级高于mixin，如果同名则被覆盖。否则合并
            // 值为对象的选项，在合并的时候，存在冲突时，以组件的为主。
            return {
                prop1: 'prop1-new',
                prop3: 'string,类型冲突'
            }
        },
        created() {
            console.log('组件钩子被调用');
            // mixins后可调用
            // this.hello();
            console.log(this.$data);
        },
        // 无论mixins选项在组件的那个位置引用，混入对象的钩子，始终在组件的钩子之前执行！！！！
        mixins: [helloMixin],
        props: {
            title: {
                type: String,
                default: '',
            },
            level: {
                type: [String, Number],
                default: '1'
            }
        },
        render(h) {
            // 获取插槽内容(默认插槽)
            console.log(this.$slots.default);
            console.log(this.title);
            // 默认使用h；返回createElement返回的VNode
            // h(createElement)可传三个参数
            // 1. 必要参数，用于提供dom的html内容
            // 2. 非必要，传的是组件样式class、属性、事件on:{click:function(){}}等
            // 3. 非必要，VNode数组
            return h(
                'h' + this.level, //模版使用的标签元素，这里使用的是h1,h2
                // this.title  //内容
                this.$slots.default // VNode
            );
        }
    });
    /**
     * 列表组件
    */
    Vue.component('course-list', {
        data() {
            return {
                selectedCourse: ''
            }
        },
        props: {
            courses: {
                type: Array,
                defalue: []
            }
        },
        template: `
            <div>
                <div v-for="c in courses" :key="c" :class="{active: selectedCourse === c}" @click="selectedCourse = c">
                    {{c}}
                </div>
                <hr>
                <p v-if="courses.length > 0">一共{{total}}课程</p>
                <p v-else>没有课程</p>
            </div>
        `,
        computed: {
            total() {
                return this.courses.length + '门';
            }
        }
    })

    /**
     * 表单组件
    */
    Vue.component('course-add', {
        props: {
            value: {
                type: String,
                default: ''
            },
            // props传参使用驼峰，则组件上使用的xxx-xxx
            courseTitle: {
                type: String,
                default: ''
            }
        },
        template: `
            <div>
                <label for="add" v-text="courseTitle"></label>
                <input type="text" id="add" :value="value" @input="onInput" v-on:keydown.enter="addCourse"> 
            </div>
        `,
        methods: {
            addCourse() {
                this.$emit('add-course')
            },
            onInput(e) {
                console.log(e);
                this.$emit('input', e.target.value)
            }
        },
    });

    /**
     * 弹窗组件/使用插槽内容分发
    */
    Vue.component('message', {
        props: {
            types: {
                type: String,
                default: ''
            },
            isShow: {
                type: Boolean,
                default: false
            },
            title: {
                type: String,
                default: ''
            }
        },
        template: `
            <div v-if="isShow">
                <!-- 具名插槽/作用域插槽 -->
                <slot name="title" title="来自message的标题"></slot>
                <!-- 通过插槽获取内容 -->
                <slot></slot>
                <!-- update:xxx 对应父组件使用了sync -->
                <span class="message-close-btn" @click="$emit('update:is-show', false)">x</span>
            </div>
        `,
        watch: {
            // 监听show，如果show值发生变化，且没有点击关闭，则自动关闭
            isShow(newValue, oldValue) {
                if (newValue) {
                    setTimeout(() => {
                        this.$emit('update:is-show', false)
                    }, 3000);
                }
            }
        },
    });

    /**
     * 创建实例
    */
    const app = new Vue({
        el: '#app',
        data() {
            return {
                a: '新增课程：',
                title: '购物车',
                date: new Date(),
                course: [],
                coursename: '',
                selectedCourse: null,
                show: false
            }
        },
        async created() {
            const courses = await getCourses();
            this.course = courses;
        },
        methods: {
            addCourse(e) {
                this.course.push(this.coursename);
                let unique = new Set(this.course);
                this.course = [...unique];

                this.show = true;

            }
        },
        watch: {
            course: {
                // 默认监听器加载页面的时候不会立即执行（计算属性会自动执行一次），如果需要监听器自动执行，需要使用带参数的监听器
                immediate: true,
                deep: true,
                handler(newValue, oldValue) {
                    console.info(newValue)
                }
            }
        },
        computed: {
            total() {
                return this.course.length + '门';
            }
        }
    });
</script>

</html>